NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/v1
NEXT_PUBLIC_BASE_URL=http://localhost:3002
NEXT_PUBLIC_DAUTH_AUTHORIZE_URL=https://dauth.b1nd.com/authorize
NEXT_PUBLIC_DAUTH_CLIENT_ID=
NEXT_PUBLIC_DAUTH_REDIRECT_URI=http://localhost:3002/api/auth/callback
