BASE_API_URL=http://localhost:3000/v1
BASE_INTERNAL_API_URL=http://localhost:3000/v1
BASE_URL=http://localhost:3003
DAUTH_AUTHORIZE_URL=https://dauth.b1nd.com/authorize
DAUTH_CLIENT_ID=
DAUTH_REDIRECT_URI=http://localhost:3003/api/auth/callback
