@import "tailwindcss";
@import "@flick/ui/styles.css";
@source "../../../../../packages/ui/src";

html,
body {
  touch-action: pan-y pan-x;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

#root {
  height: 100dvh;
}
